---

---
<footer class="bg-black text-white text-center px-4 py-12">
    <div class="container mx-auto flex flex-col gap-8">
        <div class="grid md:grid-cols-2 gap-4">
            <div class="grid text-center md:text-start p-4 gap-4">
                <div class="flex flex-col gap-4">
                    <h1 class="text-xl md:text-3xl font-bold">SatisfAI</h1>
                    <p class="text-lg md:text-xl">
                        SatisfAI is an AI-powered app for creating customer
                        satisfaction surveys and tracking feedback in real-time.
                    </p>
                </div>
            </div>
            <!-- Logo -->
            <div class="grid p-4 justify-center md:justify-end">
                <img src="/satisfai-logo-main.svg" alt="SatisfAI Logo" class="h-16 w-auto mx-auto"/>
            </div>
        </div>

        <div class="flex justify-center gap-8 mt-4">
            <a href="#" class="text-white hover:text-gray-400">
                <ion-icon name="mail" class="text-3xl"></ion-icon>
            </a>
            <a href="#" target="_blank" class="text-white hover:text-gray-400">
                <ion-icon name="logo-instagram" class="text-3xl"></ion-icon>
            </a>
            <a href="#" target="_blank" class="text-white hover:text-gray-400">
                <ion-icon name="logo-tiktok" class="text-3xl"></ion-icon>
            </a>
        </div>

        <hr>
        <p class="md:text-lg">SatisfAI  |  2024  |  Universidad Peruana de Ciencias Aplicadas</p>
    </div>
</footer>
