---

---

<section class="flex flex-col items-center content-center center">
    <div class="flex flex-col gap-2 md:gap-4 max-w-6xl p-6 md:p-12">
        <h1 class="text-4xl md:text-6xl font-bold text-center">
            Revolutionize Your Customer Experience with
            <br>
            <span class="font-extrabold text-primary">
                SatisfAI
            </span>
            ✨
        </h1>
        <p class="text-xl md:text-2xl font-medium text-center">
            AI-powered Surveys and insights to elevate customer satisfaction and grow businesses
        </p>
        <div class="grid md:flex justify-center gap-4 md:text-xl">
            <a class="md:w-1/4 inline-flex items-center justify-center gap-2 px-4 py-4 bg-tertiary text-white font-bold rounded-lg transition hover:cursor-pointer duration-300 ease-in-out transform hover:scale-105">
                I own a business
            </a>
            <a class="md:w-1/4 inline-flex items-center justify-center gap-2 px-4 py-4 bg-tertiary text-white font-bold rounded-lg transition hover:cursor-pointer duration-300 ease-in-out transform hover:scale-105">
                I'm a customer
            </a>
        </div>
    </div>
    <div class="w-full h-96 md:h-[560px] overflow-hidden">
        <img src="/hero-image.jpg"
             alt="IncluirTech hero image"
             class="object-cover w-full h-full object-center"
             loading="lazy" decoding="async"
             sizes="(max-width: 640px) 100vw, (max-width: 1024px) 100vw, 1280px"
        />
    </div>
</section>

<script>
</script>